.task-list {
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  background: #3176d2;
  text-align: center;
  padding: 5px 0;
  color: white;
  position: sticky;
  top: 0;
}

.task-card {
  width: 300px;
  min-height: 150px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.task-image {
  border-radius: 50%;
  width: 100px !important;
  height: 100px !important;
  margin-right: 20px;
}

.card-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.task-title {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.avatar-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.points-number {
  font-size: 18px;
  font-weight: 600;
  color: #1976d2;
}

.label-row {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}

.center-row {
  display: flex;
  align-items: center;
}

.form-label {
  text-align: center;
}

.large-image {
  width: 80%;
  height: fit-content;
  border-radius: 10px;
  max-height: 500px;
  max-width: 500px;
  text-align: center;
  margin-top: 20px;
}

.template-image-icon {
  opacity: 0.2;
  width: 50%;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.normal-text-link {
  text-decoration: none;
}
